<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="textcenter">Codigo QR</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

    <ion-card-header>
      <ion-card-title>Asistencia ""</ion-card-title>
      
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <div class="centered">
      <img src="https://i.imgur.com/1vag9gu.png"/>
    </div>
  </ion-card>
</ion-content>
