<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recuperar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recuperar Contraseña </ion-card-title>
      <ion-card-subtitle>Ingrese Nombre De Usuario</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input label="Usuario:" labelPlacement="floating" placeholder="Ej:j"></ion-input>
    </ion-card-content>

  
    <ion-button class="centered" href="login">Recuperar</ion-button>
   
  </ion-card>
</ion-content>
